.field-title {
	width: 25%;
	font-weight: 500;
}

.field-input {
	width: 75%;
}

.field-wrap {
	display: flex;
	margin-bottom: 15px;
}

.type-repeater {
	flex-direction: column;
}

.type-repeater .repeater-wrap {
	border: 1px solid #eee;
	flex-direction: column;
	position: relative;
}

.type-repeater .repeater-title {
	background: #F0F0F0;
	border: 1px solid #D0D0D0;
	padding: 10px;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
}

.item-title {
	padding: 0px 10px;
	line-height: 31px;
	position: relative;
	background: #F6F6F6;
	font-weight: 500;
	height: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.repeater-item {
	background: #fcfcfc;
	position: relative;
	border-bottom: 1px solid #EEEEEE;
}

.repeater-item .field-wrap {
	padding: 10px;
	margin-bottom: 0;
}

.type-repeater .btn-add {
	padding: 7px 10px;
	background: #c6c6c6;
	font-size: 12px;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
	font-weight: 500;
	border: 0;
	border: 1px dashed #7a7a7a;
}

.repeater-item .action-buttons button {
	border: 0;
	cursor: pointer;
	padding: 0 2px;
	background: transparent;
	text-align: center;
}

.repeater-item button:hover {
	background: #cfcfcf;
}

.metabox-wrap input[type=text],
.metabox-wrap input[type=number],
.metabox-wrap select,
.metabox-wrap textarea {
	width: 100%;
}

.repeater-item .field-wrap {
	display: none;
}

.repeater-item.active .field-wrap {
	display: flex;
}

.repeater-item.active .btn-toggle .dashicons-arrow-down:before {
	content: "\f142";
}
